name: ci

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ci:
    # Skip CI on release commits
    if: ${{ !(github.event_name == 'push' && github.event.head_commit && startsWith(github.event.head_commit.message, 'chore(release):')) }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: npm i -fg corepack && corepack enable
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "pnpm"
      - run: pnpm install
      - run: pnpm run test
        env:
          VITE_DB_URL: ${{ secrets.VITE_DB_URL }}
          VITE_DB_AUTH_TOKEN: ${{ secrets.VITE_DB_AUTH_TOKEN }}
      - run: pnpm run build
      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
